github "Moya/Moya"
github "robb/Cartography"
github "CosmicMind/Material"
github "devxoul/Then"
github "radex/SwiftyUserDefaults"
github "DaveWoodCom/XCGLogger"
github "Swiftification/Dispatch"
github "dzenbot/DZNEmptyDataSet"
github "evgenyneu/keychain-swift"
github "ibireme/YYImage"
github "ibireme/YYWebImage"
github "ibireme/YYModel"
github "Hearst-DD/ObjectMapper"
github "RxSwiftCommunity/RxViewModel"
github "zhangyinglong/ZYLDataBase"
github "cbpowell/MarqueeLabel"
github "jdg/MBProgressHUD"

#git "http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/doc/iOS_SDK_3.2.2..zip" "master"
#github "gontovnik/DGElasticPullToRefresh"
#github "molon/MLTransition"
